<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글보기</title>
    <link rel="stylesheet" href="/css/apiInfo.css"/>
    <script type="text/javascript" src="/js/apiInfo.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cdd7525d620bba7f274e368acf8f2962&libraries=services"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var title = /*[[${rDTO.title}]]*/ 'defaultTitle';
        const startDate = [[${rDTO.startDate}]];
        const endDate = [[${rDTO.endDate}]];
        var uniqueIdentifier = extractFileId([[${rDTO.mainImg}]]);

        $(document).ready(function () {
            $("#btnAddBookmark").on("click", function () {
                addBookmark(); // 북마크 추가 함수 호출
            });

            $("#btnRemoveBookmark").on("click", function () {
                removeBookmark();
            });

            $("#btnList").on("click", function () {
                location.href = "/event/apiSearch";
            });

            updateBookmarkButton();

        });

        function updateBookmarkButton() {
            var existsYn = /*[[${hDTO.existsYn}]]*/ 'N';
            if (existsYn === 'Y') {
                $("#btnAddBookmark").hide();
                $("#btnRemoveBookmark").show();
            } else {
                $("#btnAddBookmark").show();
                $("#btnRemoveBookmark").hide();
            }
        }

        function extractFileId(url) {
            const pattern = /FileId=([\d\w]+)/; // 숫자와 문자를 포함할 수 있도록 패턴 수정
            const match = url.match(pattern);
            return match ? match[1] : null;
        }

        function addBookmark() {
            $.ajax({
                type: "POST",
                url: "/event/addBookmark", // 서버의 북마크 추가 엔드포인트
                dataType: "JSON",
                data: {
                    eventSeq: uniqueIdentifier,
                    title: title,
                    startDate: startDate,
                    endDate: endDate
                },
                success: function (json) {
                    $("#btnAddBookmark").hide();
                    $("#btnRemoveBookmark").show();
                    alert(json.msg);
                }
            });
        }

        function removeBookmark() {
            $.ajax({
                type: "POST",
                url: "/event/removeBookmark",
                dataType: "JSON",
                data: {
                    eventSeq: uniqueIdentifier
                },
                success: function (json) {
                    $("#btnAddBookmark").show();
                    $("#btnRemoveBookmark").hide();
                    alert(json.msg);
                }
            });
        }
        /*]]>*/
    </script>
</head>
<body onload="initMap()">
<h2>문화행사 상세보기</h2>
<span id="latitude" th:text="${rDTO.lot}" style="display:none;"></span>
<span id="longitude" th:text="${rDTO.lat}" style="display:none;"></span>
<div class="content">
    <div class="image-container">
        <img src="" th:src="${rDTO.mainImg}" alt="문화행사 이미지">
    </div>
    <div class="info-container">
        <h3 class="info-title" th:text="${rDTO.title}">문화행사 정보</h3>

        <div class="info-item"><strong>장소:</strong> <span th:text="${rDTO.place}"></span></div>
        <div class="info-item"><strong>분류:</strong> <span th:text="${rDTO.codename}"></span></div>
        <div class="info-item"><strong>이용대상:</strong> <span th:text="${rDTO.useTrgt}"></span></div>

        <div th:if="${!#strings.isEmpty(rDTO.useFee)}">
            <div class="info-item"><strong>이용요금:</strong> <span th:text="${rDTO.useFee}"></span></div>
        </div>

        <div class="info-item"><strong>시간:</strong> <span th:text="${rDTO.date}"></span></div>

        <div th:if="${!#strings.isEmpty(rDTO.program)}">
            <div class="info-item">
                <strong>프로그램 소개:</strong> <span th:text="${rDTO.program}"></span>
            </div>
        </div>

        <div class="info-item">
            <a href="#" th:href="${rDTO.orgLink}" target="_blank">더보기</a>
        </div>

        <div id="map"></div>
        <ul id="placesList"></ul>

        <div class="button-container">
            <button id="btnAddBookmark" type="button">북마크 추가하기</button>
            <button id="btnRemoveBookmark" type="button" style="display:none;">북마크 취소하기</button>
            <button id="btnList" type="button">목록</button>
        </div>
    </div>
</div>
</body>
</html>

