<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문화행사 리스트</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <link rel="stylesheet" href="/css/eventSearch.css"/>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // 현재 날짜를 기본값으로 설정
            var currentDate = new Date();
            var monthLaterDate = new Date(new Date().setMonth(currentDate.getMonth() + 1));

            // 날짜를 YYYY-MM-DD 형식으로 포맷
            var formattedCurrentDate = currentDate.toISOString().substring(0, 10);
            var formattedMonthLaterDate = monthLaterDate.toISOString().substring(0, 10);

            // 시작일과 종료일 입력 필드에 기본값 설정
            document.getElementById('startDate').value = formattedCurrentDate;
            document.getElementById('endDate').value = formattedMonthLaterDate;

            // 문화행사 리스트를 자동으로 표시
            displayEvents();
        });

        function displayEvents() {
            $('#loadingSpinner').show(); // 로딩 이펙트 표시

            $.ajax({
                url: '/event/getList',
                type: 'GET',
                data: $('#searchForm').serialize(),
                success: function (data) {
                    var container = document.getElementById('resultSection'); // 결과를 표시할 컨테이너 요소
                    container.innerHTML = ''; // 컨테이너 초기화

                    // 서버로부터 받은 데이터를 사용하여 결과 표시
                    data.forEach(function (event) {
                        var listItem = document.createElement('div');
                        listItem.className = 'eventItem';

                        var uniqueIdentifier = extractFileId(event.MAIN_IMG);

                        listItem.innerHTML =
                            '<div class="eventThumbnail">' +
                            '<img src="' + event.MAIN_IMG + '" alt="Event Thumbnail" style="max-width:200px; max-height:200px;" onerror="this.onerror=null;this.src=\'/assets/img/thumbnail.png\';">' +
                            '</div>' +
                            '<div class="eventInfo">' +
                            '<h3>' + event.TITLE + '</h3>' +
                            '<p>' + event.CODENAME + '</p>' +
                            '<p>' + event.GUNAME + '</p>' +
                            '<p>' + event.DATE + '</p>' +
                            '<p>' + event.PLACE + '</p>' +
                            '</div>';

                        listItem.querySelector('h3').onclick = function () {
                            doDetail(uniqueIdentifier);
                        };

                        container.appendChild(listItem);
                    });

                    $('#loadingSpinner').hide(); // 로딩 이펙트 숨기기
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }

        function extractFileId(url) {
            const pattern = /FileId=([\d\w]+)/; // 숫자와 문자를 포함할 수 있도록 패턴 수정
            const match = url.match(pattern);
            return match ? match[1] : null;
        }

        function doDetail(uniqueIdentifier) {
            location.href = "/event/apiInfo?nSeq=" + uniqueIdentifier;
        }
    </script>
</head>
<body style="background-color: #d7f9ff">

<div class="header" style="padding: 0 16px;">
    <a href="/main" class="logo">
        <img src="/assets/img/logo3.png" alt="Main Logo">
    </a>
    <ul class="nav" id="top-navigation">
        <li><a href="/main">메인 페이지</a></li>
        <li><a href="/event/apiSearch">문화행사 찾기</a></li>
        <li><a href="/culture/v1/cultureMap">문화시설 찾기</a></li>
        <li><a href="/notice/noticeListUsingNativeQuery">커뮤니티</a></li>
    </ul>
</div>

<div class="header-container" style="margin-left: 8%">
<h2>문화행사 찾기</h2>
<form id="searchForm">
    <select name="guName">
        <option value="">시군구 선택</option>
        <option value="종로구">종로구</option>
        <option value="중구">중구</option>
        <option value="용산구">용산구</option>
        <option value="성동구">성동구</option>
        <option value="광진구">광진구</option>
        <option value="동대문구">동대문구</option>
        <option value="중랑구">중랑구</option>
        <option value="성북구">성북구</option>
        <option value="강북구">강북구</option>
        <option value="도봉구">도봉구</option>
        <option value="노원구">노원구</option>
        <option value="은평구">은평구</option>
        <option value="서대문구">서대문구</option>
        <option value="마포구">마포구</option>
        <option value="양천구">양천구</option>
        <option value="강서구">강서구</option>
        <option value="구로구">구로구</option>
        <option value="금천구">금천구</option>
        <option value="영등포구">영등포구</option>
        <option value="동작구">동작구</option>
        <option value="관악구">관악구</option>
        <option value="서초구">서초구</option>
        <option value="강남구">강남구</option>
        <option value="송파구">송파구</option>
        <option value="강동구">강동구</option>
    </select>
    <select name="codename">
        <option value="">행사 타입 선택</option>
        <option value="콘서트">콘서트</option>
        <option value="축제-문화/예술">문화/예술</option>
        <option value="교육/체험">교육/체험</option>
        <option value="뮤지컬/오페라">뮤지컬/오페라</option>
        <option value="전시/미술">전시/미술</option>
        <option value="국악">국악</option>
        <option value="기타">기타</option>
    </select>
    <select name="themeCode">
        <option value="">테마</option>
        <option value="어린이/청소년 문화행사">어린이/청소년</option>
        <option value="여성 문화행사">여성</option>
        <option value="어르신 문화행사">어르신</option>
        <option value="가족 문화행사">가족</option>
    </select>
    <select name="isFree">
        <option value="">비용</option>
        <option value="무료">무료</option>
        <option value="유료">유료</option>
    </select>
    <input type="date" style="font-family: 'NIXGONM-Vb'" id="startDate" name="startDate"/>
    <input type="date" style="font-family: 'NIXGONM-Vb'" id="endDate" name="endDate"/>
    <button type="button" onclick="displayEvents()">검색</button>
</form>
</div>

<div id="loadingSpinner" style="display:none;">
    <div class="spinner"></div>
</div>

<div class="divTable minimalistBlack">
    <div class="divTableBody" id="resultSection">
    </div>
</div>

</body>
</html>
