
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문화행사 리스트</title>
    <link rel="stylesheet" href="/css/table.css"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function doDetail(seq) {
            location.href = "/event/eventInfo?nSeq=" + seq;
        }

    </script>
</head>
<body>
<h2>문화행사</h2>
<hr/>
<br/>
<div class="divTable minimalistBlack">
    <div class="divTableHeading">
        <div class="divTableRow">
            <div class="divTableHead">순번</div>
            <div class="divTableHead">문화행사이름</div>
            <div class="divTableHead">분류</div>
            <div class="divTableHead">테마</div>
            <div class="divTableHead">행사사진</div>
        </div>
    </div>
    <div class="divTableBody">
        <div class="divTableRow" th:each="dto: ${rList}">
            <div class="divTableCell" th:text="${dto.eventSeq}"></div>
            <div class="divTableCell" th:text="${dto.eventName}" th:onclick="doDetail([[${dto.eventSeq}]])"></div>
            <div class="divTableCell" th:text="${dto.eventSort}"></div>
            <div class="divTableCell" th:text="${dto.eventTheme}"></div>
            <div class="divTableCell">
                <img th:src="@{${dto.eventImage}}" alt="Event Image" style="max-width:200px; max-height:200px;" />
            </div>
        </div>
    </div>
</div>
</body>
</html>
