/* 전체 페이지 스타일링 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}

/* 검색 폼 스타일링 */
#searchForm {
    margin-bottom: 20px;
}

#searchForm select, #searchForm button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

#searchForm button {
    z-index: 10;
    background-color: #5da5bb;
    color: #fff;
    border-radius: 4px;
    padding: 6px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#searchForm button:hover {
    background-color: #4e899a;
}

/* 결과 섹션 스타일링 */
.divTable {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;
}

.divTable, .divTableBody, .eventItem {
    border: 1px solid #ddd;
    margin-top: 10px;
}

.eventItem {
    display: flex;
    align-items: center;
    padding: 10px;
}

.eventThumbnail img {
    margin-right: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.eventItem h3 {
    margin: 0;
    color: #333;
    cursor: pointer;
}

.eventItem p {
    margin: 5px 0 0;
    color: #666;
}

/* 최소주의 테이블 스타일 */
.minimalistBlack {
    border: 1px solid #ccc;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.minimalistBlack .divTableBody, .minimalistBlack .divTableRow, .minimalistBlack .divTableCell {
    border: 1px solid #ccc;
    padding: 8px;
}

#loadingSpinner {
    display: none; /* 초기에는 숨겨져 있음 */
    position: fixed; /* 페이지에 고정 */
    top: 0; /* 상단부터 0 */
    left: 0; /* 좌측부터 0 */
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    background: rgba(255, 255, 255, 0.8); /* 흰색 반투명 배경 */
    z-index: 9999; /* 다른 요소들 위에 위치 */
    display: flex; /* Flexbox를 사용하여 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

.spinner {
    border: 5px solid #f3f3f3; /* 회색 외곽선 */
    border-top: 5px solid #3498db; /* 파란색 상단 테두리 */
    border-radius: 50%; /* 원형 */
    width: 50px; /* 너비 */
    height: 50px; /* 높이 */
    animation: spin 1s linear infinite; /* 회전 애니메이션 */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


