<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문화시설 상세보기</title>
    <link rel="stylesheet" href="/css/apiInfo.css"/>
    <script type="text/javascript" src="/js/apiInfo.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cdd7525d620bba7f274e368acf8f2962&libraries=services"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const networkSeq = [[${nDTO.networkSeq}]];

        function goToUserProfile(userId) {

            window.location.href = "/user/userProfile/" + userId;

        }

        $(document).ready(function () {

            $("#btnList").on("click", function () {
                location.href = "/netwrok/networkList";
            });

            $("#btnAddBookmark").on("click", function () {
                $(this).find('i').addClass('pulse-animation').one('animationend', function() {
                    $(this).removeClass('pulse-animation');
                });
                addBookmark(); // 북마크 추가 함수 호출
            });

            $("#btnRemoveBookmark").on("click", function () {
                $(this).find('i').addClass('pulse-animation').one('animationend', function() {
                    $(this).removeClass('pulse-animation');
                });
                removeBookmark();
            });


            $("#btnBookmark").on("click", function () {

                var userId = document.getElementById('userId').value;

                location.href = "/event/eventCalendarList/" + userId;

            });

            updateBookmarkButton();
        });

        function updateBookmarkButton() {
            var existsYn = /*[[${hDTO.existsYn}]]*/ 'N';
            if (existsYn === 'Y') {
                $("#btnAddBookmark").hide();
                $("#btnRemoveBookmark").show();
            } else {
                $("#btnAddBookmark").show();
                $("#btnRemoveBookmark").hide();
            }
        }

        function addBookmark() {
            $.ajax({
                type: "POST",
                url: "/network/addNetwork",
                dataType: "JSON",
                data: {
                    eventSeq: networkSeq
                },
                success: function (json) {
                    $("#btnAddBookmark").hide();
                    $("#btnRemoveBookmark").show();
                    Swal.fire({
                        title: '북마크 추가 완료!',
                        text: json.msg,
                        imageUrl: '/assets/img/dolphin.gif',
                        imageWidth: 400,
                        imageHeight: 320,
                        imageAlt: 'Custom image',
                        html: '<p>해당 일정을 북마크에 추가했습니다!</p>',
                        confirmButtonText: '확인',
                        confirmButtonColor: '#5da5bb'
                    });
                }
            });
        }

        function removeBookmark() {
            $.ajax({
                type: "POST",
                url: "/network/removeNetwork",
                dataType: "JSON",
                data: {
                    eventSeq: networkSeq
                },
                success: function (json) {
                    $("#btnAddBookmark").show();
                    $("#btnRemoveBookmark").hide();
                    Swal.fire({
                        title: '북마크 해제 완료!',
                        text: json.msg,
                        imageUrl: '/assets/img/dolphin.gif',
                        imageWidth: 400,
                        imageHeight: 320,
                        imageAlt: 'Custom image',
                        html: '<p>해당 일정을 북마크에서 해제했습니다!</p>',
                        confirmButtonText: '확인',
                        confirmButtonColor: '#5da5bb'
                    });
                }
            });
        }
        /*]]>*/
    </script>


    <style>
        .user-info {
            display: flex;
            align-items: center;
            flex-shrink: 0; /* 이 요소의 크기가 줄어들지 않도록 */
        }

        .user-name {
            margin-right: 10px;
            font-size: 1rem; /* Adjust font size as needed */
        }

        .profile-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
        }
    </style>

</head>
<body onload="initMap()" style="background-color: #d7f9ff">

<div class="header" style="padding: 0 16px;">
    <a href="/main" class="logo">
        <img src="/assets/img/logo3.png" alt="Main Logo">
    </a>
    <ul class="nav" id="top-navigation">
        <li><a href="/main">메인 페이지</a></li>
        <li><a href="/event/apiSearch">문화행사 찾기</a></li>
        <li><a href="/culture/cultureMap">문화시설 찾기</a></li>
        <li><a href="/network/networkList">일정 등록하기</a></li>
        <li><a href="/chat/intro">실시간 채팅</a></li>
        <li><a href="/notice/noticeListUsingNativeQuery">커뮤니티</a></li>
    </ul>
</div>

<span id="latitude" th:text="${rDTO.xCoord}" style="display:none;"></span>
<span id="longitude" th:text="${rDTO.yCoord}" style="display:none;"></span>
<div class="content">

    <div class="header-container">
        <h2 th:text="${nDTO.name}"></h2>
        <div class="bookmark">
            <button id="btnAddBookmark" type="button" style="background:none; border:none; font-size:30px; color:#ffc3fa;">
                <i class="far fa-heart"></i>
            </button>
            <button id="btnRemoveBookmark" type="button" style="display:none; background:none; border:none; font-size:30px; color:#ffc3fa;">
                <i class="fas fa-heart"></i>
            </button>
        </div>
    </div>

    <div class="user-info">
        <p style="font-weight: bold">개설자:&nbsp;</p>
        <span class="user-name" th:text="${dto.userName}"></span>
        <img th:src="${dto.profilePath}" onerror="this.src='/assets/img/profile.png'" style="cursor: pointer"
             alt="Profile Image" class="profile-img" th:onclick="goToUserProfile([[${dto.userId}]])">
    </div>

    <div>
        <p><strong>기간:</strong> <span th:text="${nDTO.startDate}"></span> ~ <span th:text="${nDTO.endDate}"></span></p>
    </div>

    <div style="margin-top: 30px">
        <p style="font-weight: bold">내용:&nbsp;</p>
        <p th:text="${nDTO.contents}" style="font-size: 16px; margin-top: 12px; white-space: pre;"></p>
    </div>

    <p style="font-weight: bold; margin-top: 30px">위치:</p>
    <div id="map"></div>

    <p style="font-weight: bold; margin-top: 50px">해당 문화시설 정보:</p>
    <div style="display: flex;">
        <div class="image-container">
            <img src="" th:src="${rDTO.mainImg}" alt="문화행사 이미지">
        </div>
        <div class="info-container">
            <h3 class="info-title" th:text="${rDTO.facName}"></h3>

            <div class="info-item"><strong>주소:</strong> <span th:text="${rDTO.addr}"></span></div>
            <div class="info-item"><strong>휴관일:</strong> <span th:text="${rDTO.closeday}"></span></div>
            <div class="info-item"><strong>전화번호:</strong> <span th:text="${rDTO.phne}"></span></div>
            <div class="info-item">
                <a href="#" th:href="${rDTO.homepage}" target="_blank">홈페이지 바로가기</a>
            </div>
        </div>
    </div>

    <br>
    <div class="button-container">
        <button id="btnList" type="button" style="font-family: 'NIXGONM-Vb'; margin-top: -12px">일정 목록으로 이동</button>
        <button id="btnBookmark" type="button" style="font-family: 'NIXGONM-Vb';">북마크 페이지로 이동</button>
        <button id="btnJoinChat" type="button" style="font-family: 'NIXGONM-Vb';">채팅방 참여</button>
    </div>

</div>
</body>
</html>

