<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>문화시설 상세보기</title>
    <link rel="stylesheet" href="/css/apiInfo.css"/>
    <script type="text/javascript" src="/js/apiInfo.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="/assets/img/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/img/logo.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cdd7525d620bba7f274e368acf8f2962&libraries=services"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let data = {}; // 전송 데이터(JSON)
        let ws; // 웹소켓 객체

        const ss_user_id = [[${session.SS_USER_ID}]];
        const roomName = /*[[${roomName}]]*/ 'defaultRoom'; // 채팅룸 이름
        const user_id = [[${dto.userId}]];
        const userName = [[${dto.userName}]];
        const protocol = location.protocol === "https:" ? "wss://" : "ws://"; // 프로토콜 설정
        const networkSeq = [[${nDTO.networkSeq}]];

        function goToUserProfile(userId) {

            window.location.href = "/user/userProfile/" + userId;

        }

        $(document).ready(function () {

            if (ss_user_id !== user_id) {
                $("#btnDelete").hide();
            }

            $("#btnList").on("click", function () {
                location.href = "/network/networkList";
            });

            $("#btnAddBookmark").on("click", function () {
                $(this).find('i').addClass('pulse-animation').one('animationend', function() {
                    $(this).removeClass('pulse-animation');
                });
                addBookmark(); // 북마크 추가 함수 호출
            });

            $("#btnRemoveBookmark").on("click", function () {
                $(this).find('i').addClass('pulse-animation').one('animationend', function() {
                    $(this).removeClass('pulse-animation');
                });
                removeBookmark();
            });

            $("#btnBookmark").on("click", function () {

                var userId = document.getElementById('userId').value;

                location.href = "/event/eventCalendarList/" + userId;

            });

            $("#btnJoinChat").on("click", function () {
                openWebSocket();
            });

            $("#btnDelete").on("click", function () {
                doDelete();
            });

            updateBookmarkButton();
        });

        function openWebSocket() {
            $.post("/chat/chatroom", { roomName: roomName, userId: ss_user_id, networkSeq: networkSeq}, function() {
                window.location.href = "/chat/chatroom/" + roomName;
            });
        }

        function doDelete() {
            if (confirm("해당 일정을 삭제하시겠습니까?")) {
                $.ajax({
                    url: "/network/networkDelete",
                    type: "post",
                    dataType: "JSON",
                    data: {"networkSeq": networkSeq},
                    success: function (json) {
                        alert(json.msg);
                        location.href = "/network/networkList";
                    }
                });
            }
        }

        function updateBookmarkButton() {
            var existsYn = /*[[${hDTO.existsYn}]]*/ 'N';

            if (ss_user_id === user_id) {
                $("#btnAddBookmark, #btnRemoveBookmark").hide();
            } else {
                if (existsYn === 'Y') {
                    $("#btnAddBookmark").hide();
                    $("#btnRemoveBookmark").show();
                } else {
                    $("#btnAddBookmark").show();
                    $("#btnRemoveBookmark").hide();
                }
            }
        }

        function addBookmark() {
            $.ajax({
                type: "POST",
                url: "/network/addNetwork",
                dataType: "JSON",
                data: {
                    eventSeq: networkSeq
                },
                success: function (json) {
                    $("#btnAddBookmark").hide();
                    $("#btnRemoveBookmark").show();
                    let html = '<p>해당 일정을 북마크에 추가했습니다!</p>';

                    if (json.result === 2) {
                        html = '<p>최대 참가자 수를 초과하였습니다.</p>'
                    }

                    Swal.fire({
                        title: json.msg,
                        imageUrl: '/assets/img/dolphin.gif',
                        imageWidth: 400,
                        imageHeight: 320,
                        imageAlt: 'Custom image',
                        html: html,
                        confirmButtonText: '확인',
                        confirmButtonColor: '#5da5bb'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload(); // 페이지 새로고침
                        }
                    });
                }
            });
        }

        function removeBookmark() {
            $.ajax({
                type: "POST",
                url: "/network/removeNetwork",
                dataType: "JSON",
                data: {
                    eventSeq: networkSeq
                },
                success: function (json) {
                    $("#btnAddBookmark").show();
                    $("#btnRemoveBookmark").hide();
                    Swal.fire({
                        title: '북마크 해제 완료!',
                        text: json.msg,
                        imageUrl: '/assets/img/dolphin.gif',
                        imageWidth: 400,
                        imageHeight: 320,
                        imageAlt: 'Custom image',
                        html: '<p>해당 일정을 북마크에서 해제했습니다!</p>',
                        confirmButtonText: '확인',
                        confirmButtonColor: '#5da5bb'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload(); // 페이지 새로고침
                        }
                    });
                }
            });
        }
        /*]]>*/
    </script>


    <style>

        #btnAddBookmark, #btnRemoveBookmark {
            background-color: #5da5bb;
            font-size: 14px;
            padding: 8px 12px;
            border-radius: 5px;
            max-width: 200px;
            width: auto;
            display: block;
            border: none;
            transition: transform 0.3s ease;
        }

        #btnAddBookmark:hover, #btnRemoveBookmark:hover {
            background-color: #4c8698;
            transform: scale(1.05);
        }

        .user-list {
            display: flex;
            flex-direction: column; /* 세로 방향으로 배치 */
            gap: 10px; /* 각 유저 간의 간격 */
        }

        .user-info {
            display: flex;
            align-items: center;
            padding: 5px 10px; /* 패딩 추가로 공간 확보 */
            border-radius: 8px; /* 둥근 모서리 */
            background-color: #f9f9f9; /* 배경색 추가 */
            transition: background-color 0.2s; /* 배경색 변경 시 애니메이션 */
        }

        .user-info:hover {
            background-color: #eaeaea; /* 호버 시 배경색 변경 */
        }

        .user-name {
            margin-left: 10px; /* 이미지와 이름 간의 간격 */
            font-size: 1rem; /* 폰트 크기 */
            flex-grow: 1; /* 남은 공간 차지 */
            white-space: nowrap; /* 줄 바꿈 방지 */
            overflow: hidden; /* 넘치는 부분 숨김 */
            text-overflow: ellipsis; /* 넘치는 부분 ... 처리 */
        }

        .profile-img {
            width: 40px; /* 크기 약간 증가 */
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
        }
    </style>

</head>
<body onload="initMap()" style="background-color: #d7f9ff">

<div class="header" style="padding: 0 16px;">
    <a href="/main" class="logo">
        <img src="/assets/img/logo3.png" alt="Main Logo">
    </a>
    <ul class="nav" id="top-navigation">
        <li><a href="/main">메인 페이지</a></li>
        <li><a href="/event/apiSearch">문화행사 찾기</a></li>
        <li><a href="/culture/cultureMap">문화시설 찾기</a></li>
        <li><a href="/network/networkList">일정 등록하기</a></li>
        <li><a href="/chat/intro">실시간 채팅</a></li>
        <li><a href="/notice/noticeListUsingNativeQuery">커뮤니티</a></li>
    </ul>
</div>

<span id="latitude" th:text="${rDTO.xCoord}" style="display:none;"></span>
<span id="longitude" th:text="${rDTO.yCoord}" style="display:none;"></span>
<div class="content">

    <div class="header-container">
        <h2 th:text="${nDTO.name}"></h2>
    </div>

    <div>
        <p><strong>기간:</strong> <span th:text="${nDTO.startDate}"></span> ~ <span th:text="${nDTO.endDate}"></span></p>
    </div>

    <div class="user" style="display: flex; align-items: center;">
        <p style="font-weight: bold;">
            <span>참여 인원</span>
            <span th:text="'(' + ${currentUserCount} + ' / ' + ${nDTO.userCount} + '):'"></span>
        </p>
        <div class="bookmark" style="display: flex; align-items: center; align-self:normal">
            <button id="btnAddBookmark" type="button" style="margin-right: 10px;">
                참여하기
            </button>
            <button id="btnRemoveBookmark" type="button">
                취소
            </button>
        </div>
    </div>

    <div class="user-list" th:each="dto: ${userInfoList}">
        <div class="user-info" style="cursor: pointer" th:onclick="goToUserProfile([[${dto.userId}]])">
            <img th:src="${dto.profilePath}" onerror="this.src='/assets/img/profile.png'"
                 alt="Profile Image" class="profile-img">
            <span class="user-name" th:text="${dto.userName}"></span>
        </div>
    </div>

    <div style="margin-top: 30px">
        <p style="font-weight: bold">내용:&nbsp;</p>
        <p th:text="${nDTO.contents}" style="font-size: 16px; margin-top: 12px; white-space: pre;"></p>
    </div>

    <p style="font-weight: bold; margin-top: 30px">위치:</p>
    <div id="map"></div>

    <p style="font-weight: bold; margin-top: 50px">해당 문화시설 정보:</p>
    <div style="display: flex;">
        <div class="image-container">
            <img src="" th:src="${rDTO.mainImg}" alt="문화행사 이미지">
        </div>
        <div class="info-container">
            <h3 class="info-title" th:text="${rDTO.facName}"></h3>

            <div class="info-item"><strong>주소:</strong> <span th:text="${rDTO.addr}"></span></div>
            <div class="info-item"><strong>휴관일:</strong> <span th:text="${rDTO.closeday}"></span></div>
            <div class="info-item"><strong>전화번호:</strong> <span th:text="${rDTO.phne}"></span></div>
            <div class="info-item">
                <a href="#" th:href="${rDTO.homepage}" target="_blank">홈페이지 바로가기</a>
            </div>
        </div>
    </div>

    <br>
    <div class="button-container">
        <button id="btnList" type="button" style="font-family: 'NIXGONM-Vb'; margin-top: -12px">일정 목록으로 이동</button>
        <button id="btnBookmark" type="button" style="font-family: 'NIXGONM-Vb';">북마크 페이지로 이동</button>
        <button id="btnJoinChat" type="button" style="font-family: 'NIXGONM-Vb';">채팅방 참여</button>
        <button id="btnDelete" type="button" style="font-family: 'NIXGONM-Vb';">내 일정 삭제</button>
    </div>

</div>
</body>
</html>

